html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #205072;    
    color: #F5FFEB;
    font-family: "Hind", sans-serif;
    font-weight: bold;
    background-image: linear-gradient(#7BE495, #205072);
    background-attachment: fixed;
    
}

header {   
    color: #205072;
    padding: 10px 0;
    text-align: center;
    height: 10%;
    font-family: "Roboto", sans-serif;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header li {
    display: inline;
    float: left;
}

header li a {
    display: block;
    text-align: center;
    padding: 8px;
    text-decoration: none;
}

hr {
    border: 1px solid #205072;
}


main {
    padding: 20px;    
}

main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border : 5px ridge #7BE495;
}
footer {
    
    background-color: #205072;
    color: #CFF4D2;
    padding: 10px 0;
    text-align: center;
    bottom: 0;
    height: auto;
    width: 100%;    
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    border-width: 5px;
    border-style: ridge;
}

footer nav {
    padding: 5px;

}

a:link {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: #1c4664;
    text-decoration: none;
}

a:hover {
    color: #F5FFEB;
    text-decoration: underline;
}
